# extends "base.html"

{% block title %}about{% endblock %}

{% block description %}about{% endblock %}

# block body
<h2>About</h2>
<div>
  code repository: <a href="https://github.com/j-kawa/srtt">GitHub</a>
</div>
<h2>Version history</h2>
<ul class="spaced-sublists">
  <li>
    0.4.3 (2026-04-09)
    <ul>
      <li>fixed handling non-integer cargo weights in api responses</li>
    </ul>
  </li>
  <li>
    0.4.2 (2026-04-04)
    <ul>
      <li>fixed handling new timetables</li>
    </ul>
  </li>
  <li>
    0.4.1 (2026-03-31)
    <ul>
      <li>aligned to new łódź olechów point names</li>
    </ul>
  </li>
  <li>
    0.4.0 (2026-02-27)
    <ul>
      <li>added łódź junction and impuls2 dlc support</li>
    </ul>
  </li>
  <li>
    0.3.1 (2026-01-25)
    <ul>
      <li>added cd163</li>
    </ul>
  </li>
  <li>
    0.3.0 (2025-06-17)
    <ul>
      <li>added łódź dlc support</li>
    </ul>
  </li>
  <li>
    0.2.5 (2025-04-28)
    <ul>
      <li>added en57-919</li>
    </ul>
  </li>
  <li>
    0.2.4 (2025-03-31)
    <ul>
      <li>aligned with api changes</li>
    </ul>
  </li>
  <li>
    0.2.3 (2025-03-17)
    <ul>
      <li>added 629z flat cars</li>
    </ul>
  </li>
  <li>
    0.2.2 (2025-02-12)
    <ul>
      <li>added ep08-001</li>
    </ul>
  </li>
  <li>
    0.2.1 (2025-01-23)
    <ul>
      <li>added new en57 and en71 liveries</li>
    </ul>
  </li>
  <li>
    0.2.0 (2024-12-20)
    <ul>
      <li>aligned with new game content</li>
      <li>added actual train compositions</li>
      <li>fixed train weights and lengths</li>
    </ul>
  </li>
  <li>
    0.1.0 (2023-07-19)
    <ul>
      <li>initial release</li>
    </ul>
  </li>
</ul>
# endblock
