# extends "base.html"

{% block title %}{{ ctx.server.code }} routes{% endblock %}

{% block description %}{{ ctx.server.code }} trains grouped by the route{% endblock %}

# block body
# set has_parts = ctx.has_parts()
<table>
  <tr>
    <th class="inactive">ord</th>
    <th>no.</th>
# if has_parts
    <th>route part</th>
# endif
    <th>train type</th>
    <th>scenario start</th>
    <th>scenario end</th>
    <th>duration</th>
    <th>main unit</th>
    <th>max speed</th>
    <th>train length</th>
    <th>train weight</th>
    <th>start times</th>
  </tr>
# for route in ctx.routes
  <tr class="sel">
    <td class="tnum inactive">{{ loop.index }}</td>
    <td>{{ route.prefixes|join("<br>"|safe) }}</td>
# if has_parts
    <td>{{ opt(route.part) }}</td>
# endif
    <td>{{ route.type }}</td>
    <td>{{ route.start }}</td>
    <td>{{ route.end }}</td>
    <td class="tnum">{{ route.duration|td_range_minutes }}</td>
    <td>{{ inacc(route.inaccurate, route.main_units|join(", ")) }}</td>
    <td class="tnum">{{ route.max_speed|range }}&nbsp;km/h</td>
    <td class="tnum">{{ inacc(route.inaccurate, route.length|range, "m") }}</td>
    <td class="tnum">{{ inacc(route.inaccurate, route.weight|range, "t") }}</td>
    <td>
# for variant in route.variants
      <a href="train/{{ variant.no }}.html">{{
        variant.start_time.strftime("%H:%M")
      }}</a>
# endfor
    </td>
  </tr>
# endfor
</table>
# endblock
