{% extends "base.html" %}

{% block title %}{{ server.code }} routes{% endblock %}

{% block description %}{{ server.code }} trains grouped by the route{% endblock %}

{% block body %}
<table>
  <tr>
    <th class="inactive">ord</th>
    <th>no.</th>
    <th>route part</th>
    <th>route kind</th>
    <th>scenario start</th>
    <th>scenario end</th>
    <th>duration</th>
    <th>train type(s)</th>
    <th>max speed</th>
    <th>train length</th>
    <th>train weight</th>
    <th>start times</th>
  </tr>
  {%- for row in data -%}
  <tr class="sel">
    <td class="tnum inactive">{{ loop.index }}</td>
    <td>{{ row["prefixes"]|join("<br>"|safe) }}</td>
    <td>{{ row["part"] }}</td>
    <td>{{ row["kind"] }}</td>
    <td>{{ row["start"] }}</td>
    <td>{{ row["end"] }}</td>
    <td class="tnum">{{ row["duration"] }}</td>
    <td>{{ row["types"]|join(",<br>"|safe) }}</td>
    <td class="tnum">{{ row["max_speed"] }}&nbsp;km/h</td>
    <td class="tnum">{{ row["train_length"] }}&nbsp;m</td>
    <td class="tnum">{{ row["train_weight"] }}&nbsp;t</td>
    <td>
      {% for route in row["routes"] -%}
      <a href="train/{{ route['number'] }}.html">{{
        route["start_time"].strftime("%H:%M")
        }}</a>
      {% endfor -%}
    </td>
  </tr>
  {% endfor -%}
</table>
{% endblock %}
