# extends "base.html"

{% block title %}{{ ctx.server.code }} train {{ ctx.no }}{% endblock %}

{% block description %}{{ ctx.server.code }} train {{ ctx.no }} details {% endblock %}

# macro time(t)
# if t is none
--:--
#- else
{{ t.strftime("%H:%M") }}
#- endif
# endmacro

# block body
<table>
  <tr>
    <th>no.</th>
    <td>{{ ctx.no }}</td>
  </tr>
# if ctx.part is not none
  <tr>
    <th>route part</th>
    <td>{{ ctx.part }}</td>
  </tr>
# endif
  <tr>
    <th>train type</th>
    <td>{{ ctx.type }}</td>
  </tr>
  <tr>
    <th>train name</th>
    <td>{{ ctx.name }}</td>
  </tr>
  <tr>
    <th>main unit</th>
    <td>{{ inacc(ctx.inaccurate, ctx.main_units|join(", ")) }}</td>
  </tr>
  <tr>
    <th>train length</th>
    <td>{{ inacc(ctx.inaccurate, ctx.length|range, "m") }}</td>
  </tr>
  <tr>
    <th>train weight</th>
    <td>{{ inacc(ctx.inaccurate, ctx.weight|range, "t") }}</td>
  </tr>
</table>
<div>
  <a href="{{ ctx.prev }}.html">&larr;{{ ctx.prev }}</a>
  <a href="{{ ctx.next }}.html">{{ ctx.next }}&rarr;</a>
</div>
<table>
  <tr>
    <th class="inactive">ord</th>
    <th>first seen</th>
    <th>last seen</th>
    <th>length</th>
    <th>weight</th>
    <th>composition</th>
  </tr>
# if not ctx.trainsets
  <tr>
    <td colspan="6" class="inactive tcenter">no train history</td>
  </tr>
# else
# for trainset in ctx.trainsets
  <tr class="sel">
    <td class="tnum inactive">{{ loop.index }}</td>
    <td>{{ trainset.first_seen.strftime("%Y-%m-%d %H:%M") }}</td>
    <td>{{ trainset.last_seen.strftime("%Y-%m-%d %H:%M") }}</td>
    <td class="tnum">{{ trainset.length }}&nbsp;m</td>
    <td class="tnum">{{ trainset.weight }}&nbsp;t</td>
    <td>{{ composition(trainset.vehicle_counts.items()) }}</td>
  </tr>
# endfor
# endif
</table>
<table>
  <tr>
    <th class="inactive">ord</th>
    <th>km/h</th>
    <th>point name</th>
    <th>arr.</th>
    <th>dep.</th>
    <th>line</th>
    <th>ST</th>
    <th>PT</th>
    <th>EDR</th>
  </tr>
# for point in ctx.path
  <tr class="{{ 'active' if point.is_active else 'inactive'}} sel">
    <td class="tnum inactive">{{ loop.index }}</td>
    <td class="tnum">{{ point.speed_limit }}</td>
    <td>{{ point.name }}</td>
    <td>{{ time(point.entry_time) }}</td>
    <td>{{ time(point.exit_time) }}</td>
    <td>{{ point.line }}</td>
    <td>{{ opt(point.stop_type.display()) }}</td>
    <td>{{ (opt(point.platform) ~ " " ~ opt(point.track))|trim }}</td>
# if point.prefix
    <td><a href="https://panel.simrail.eu:8093/?stationId={{ point.point_id }}&serverCode={{ ctx.server.code }}">{{
	point.prefix
    }}</a></td>
# else
    <td></td>
# endif
  </tr>
# endfor
</table>
# endblock
